:root {
    --dark-slate-gray: #243054;
    --linen: #F4ECE1;
    --transparent-sandy-brown: #FEBB41
} 
.frame-1 {
    background-color: var(--linen);
    overflow: hidden;
    padding: 28px 137px 74px 106px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .flex-wrapper-six {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 168px;
  }
  .chef-hat-2-1 {
    width: calc(100% - 126px);
    height: 40px;
  }
  .ti-hef {
    height: 45px;
    width: calc(100% - 65px);
    color: var(--dark-slate-gray);
    display: flex;
    font-family: var(--inter-32-semi-bold-family);
    font-size: var(--inter-32-semi-bold-size);
    font-weight: var(--inter-32-semi-bold-weight);
    line-height: var(--inter-32-semi-bold-line-height);
  }
  .flex-wrapper-seven {
    margin-bottom: 48px;
    padding: 0 0 0 22px;
    display: flex;
    align-items: center;
  }
  .ti-hef-desc {
    height: 68px;
    width: calc(100% - 435px);
    display: flex;
    margin-right: 352px;
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .ti-hef-desc-emphasis-0 {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .buttonbmi {
    background-color: var(--transparent-sandy-brown);
    padding: 14.95px 12.1px 30.58px 16.56px;
    display: flex;
    align-items: flex-start;
  }
  .bmi-calculator {
    height: 7.47px;
    width: 76.34px;
    color: var(--dark-slate-gray);
    display: flex;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .menu {
    margin-bottom: 16px;
    margin-left: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-wrapper-eight {
    margin-bottom: 27.2px;
    display: flex;
    align-items: flex-start;
  }
  .item-1 {
    margin-right: 18.38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fooditemg-1 {
    height: 116.58px;
    align-self: stretch;
    object-fit: cover;
  }
  .flex-wrapper-five {
    background-color: var(--transparent-sandy-brown);
    padding: 7.42px 16.97px 23.55px 19px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
  }
  .relative-wrapper-five {
    width: calc(100% - 42.87px);
    margin-right: 7px;
    position: relative;
  }
  .fooditemk-1 {
    height: 6px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    left: 0;
    bottom: -8px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .fooditemn-1 {
    height: 26px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: relative;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .fooditemh-1 {
    height: 16.31px;
    width: calc(100% + -0.33px);
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    right: -0.33px;
    bottom: -6.31px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .food-add1 {
    width: 21.89%;
    height: calc(71.15% - 0.2px);
    margin-top: 9px;
    padding: 0 0 0.2px;
    position: relative;
  }
  .rectangle {
    width: calc(100% + -0.13px);
    height: 22px;
    background: linear-gradient(
      213deg,
      var(--magenta) 16%,
      var(--orange-red) 84%
    );
    border-radius: 20px;
    position: relative;
  }
  .union {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 11.5px;
    top: 4.5px;
  }
  .item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-2:not(:last-of-type) {
    margin-right: 22.03px;
  }
  .fooditemg-2 {
    width: calc(100% - 0.24000000000001px);
    height: 116.34px;
    margin-bottom: 0.24px;
  }
  .flex-wrapper-four {
    background-color: var(--transparent-sandy-brown);
    padding: 8.42px 13.33px 20.44px 15.71px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-eleven {
    margin-right: 10.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fooditemn-2 {
    height: 16.31px;
    width: calc(100% - 3px);
    color: var(--dark-slate-gray);
    display: flex;
    margin-bottom: 0.69px;
    opacity: 0.87;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .relative-wrapper-four {
    width: calc(100% - 3px);
    margin-left: 3px;
    position: relative;
  }
  .fooditemh-2 {
    height: 16.31px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: relative;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .fooditemk-2 {
    height: 16.31px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    left: 0;
    bottom: -11px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .food-add2 {
    width: calc(21% - 0.06px);
    height: calc(66.65% - 0.33px);
    margin-top: 7.67px;
    padding: 0.33px 0 0 0.06px;
    position: relative;
  }
  .rectangle-two {
    width: calc(100% + -0.19px);
    height: 22px;
    background: linear-gradient(
      213deg,
      var(--magenta) 16%,
      var(--orange-red) 84%
    );
    border-radius: 20px;
    position: relative;
  }
  .fooditemg-3 {
    width: calc(100% - 0.17000000000002px);
    height: 116.34px;
    margin-bottom: 0.24px;
  }
  .flex-wrapper-three {
    background-color: var(--transparent-sandy-brown);
    padding: 6.42px 13.32px 9.44px 15.84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-wrapper-ten {
    margin-bottom: 0.9px;
    display: flex;
    align-items: flex-start;
  }
  .fooditemn-3 {
    height: 16.31px;
    width: calc(100% - 49.35px);
    color: var(--dark-slate-gray);
    display: flex;
    margin-right: 13.48px;
    opacity: 0.87;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .food-add3 {
    width: calc(21.02% - 0.19px);
    height: calc(76.29% - 0.2px);
    margin-top: 6.9px;
    padding: 0.1px 0 0.1px 0.19px;
    position: relative;
  }
  .rectangle-three {
    width: calc(100% + -0.32px);
    height: 22px;
    background: linear-gradient(
      213deg,
      var(--magenta) 16%,
      var(--orange-red) 84%
    );
    border-radius: 20px;
    position: relative;
  }
  .union-two {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 12.19px;
    top: 5.1px;
  }
  .relative-wrapper-three {
    width: calc(100% - 49.35px);
    position: relative;
  }
  .fooditemh-3 {
    height: 16.31px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    left: 0;
    top: -10px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .flex-wrapper-nine {
    padding: 0 0 0 112.73px;
    display: flex;
    align-items: flex-start;
  }
  .item-4 {
    margin-right: 21.52px;
    padding: 0 0.17px 62.71px 0;
    position: relative;
  }
  .fooditemg-4 {
    width: calc(100% - 2.8421709430404e-14px);
    height: 116.34px;
    position: relative;
  }
  .flex-wrapper-two {
    background-color: var(--transparent-sandy-brown);
    padding: 8.73px 8.71px 6.69px 16.27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 116.32px;
  }
  .flex-wrapper-twelve {
    margin-bottom: 0.32px;
    display: flex;
    align-items: flex-start;
  }
  .fooditemn-4 {
    height: 16.31px;
    width: calc(100% - 53.53px);
    color: var(--dark-slate-gray);
    display: flex;
    margin-right: 17.66px;
    opacity: 0.87;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .food-add4 {
    width: calc(20.51% - 0.01px);
    height: 72.36%;
    margin-top: 8.48px;
    padding: 0 0 0 0.01px;
    position: relative;
  }
  .rectangle-four {
    width: calc(100% + -0.14px);
    height: 23px;
    background: linear-gradient(
      212deg,
      var(--magenta) 15%,
      var(--orange-red) 85%
    );
    border-radius: 20px;
    position: relative;
  }
  .relative-wrapper-two {
    width: calc(100% - 53.53px);
    position: relative;
  }
  .fooditemh-4 {
    height: 16.31px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    left: -0.39px;
    top: -11.16px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .item-5 {
    padding: 0 0.24px 62.71px 0;
    position: relative;
  }
  .fooditemg-5 {
    width: 100%;
    height: 116.34px;
    position: relative;
  }
  .flex-wrapper-one {
    background-color: var(--transparent-sandy-brown);
    padding: 17.21px 13.33px 20.69px 15.84px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 0.07px;
    top: 116.32px;
  }
  .relative-wrapper-one {
    width: calc(100% - 49.34px);
    margin-top: 8.52px;
    margin-right: 13.47px;
    position: relative;
  }
  .fooditemk-5 {
    height: 7px;
    width: calc(100% + -0.67px);
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    right: -0.67px;
    bottom: -2.69px;
    font-family: var(--inter-7-bold-family);
    font-size: var(--inter-7-bold-size);
    font-weight: var(--inter-7-bold-weight);
    line-height: var(--inter-7-bold-line-height);
  }
  .fooditemn-5 {
    height: 16.31px;
    width: 100%;
    color: var(--dark-slate-gray);
    display: flex;
    opacity: 0.87;
    position: absolute;
    left: -0.3px;
    top: -15.35px;
    font-family: var(--inter-10-bold-family);
    font-size: var(--inter-10-bold-size);
    font-weight: var(--inter-10-bold-weight);
    line-height: var(--inter-10-bold-line-height);
  }
  .foof-add5 {
    width: calc(21.02% - 0.19px);
    height: 89.41%;
    padding: 0 0 0 0.19px;
    position: relative;
  }
  .rectangle-five {
    width: calc(100% + -0.32px);
    height: 23px;
    background: linear-gradient(
      212deg,
      var(--magenta) 15%,
      var(--orange-red) 85%
    );
    border-radius: 20px;
    position: relative;
  }
  .keranjang {
    width: calc(100% - 762px);
    height: 65px;
    margin-left: 762px;
  }
  .line-1 {
    width: 1932.63px;
    height: 10.15px;
    position: absolute;
    right: -856.47px;
    top: 83.43px;
  }