.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-image-1 {
  width: 126px;
  height: 126px;
  margin: 149px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 70px auto 60px;
  padding: 0;
}