@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.food-add1 {
  align-items: center;
  background-image: url(rectangle-1.png);
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  margin-bottom: 14px;
  margin-left: 29px;
  padding: 0 28.5px;
  width: 70px;
}

.union {
  height: 13px;
  width: 13px;
}

.food-add1.food-add2 {
  margin-left: 20px;
}

.food-add1.food-add4 {
  left: 303px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 241px;
}

.food-add1.foof-add5 {
  left: 294px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 241px;
}

.frame-1 {
  align-items: center;
  background-color: 
#f4ece1;
  display: flex;
  flex-direction: column;
  height: 1633px;
  overflow: hidden;
  padding: 31px 0;
  width: 1829px;
}

.flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 45px;
  margin-left: 149px;
  min-width: 153px;
  z-index: 3;
}

.chef-hat-2-1 {
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.ti-hef {
  letter-spacing: 0;
  line-height: 139.8px;
  margin-left: 13px;
  min-height: 45px;
  white-space: nowrap;
}

.line-1 {
  height: 20px;
  margin-right: 4.5px;
  margin-top: 12px;
  width: 1829px;
  z-index: 4;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  height: 132px;
  margin-right: 136px;
  margin-top: 80px;
  min-width: 1297px;
  z-index: 1;
}

.tihefdesc {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 132px;
  width: 692px;
}

.overlap-group {
  align-items: flex-end;
  background-image: url(rectangle-25-1.png);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-left: 274px;
  min-width: 329px;
  padding: 0 49px;
}

.bmi-calculator {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 53px;
  width: 230px;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 180px;
  margin-top: 202px;
  min-height: 694px;
  width: 1253px;
  z-index: 2;
}

.item-container {
  align-items: flex-start;
  display: flex;
  height: 322px;
  margin-left: 6px;
  min-width: 1259px;
}

.item-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 322px;
  width: 396px;
}

.fooditem-g_1 {
  height: 210px;
  margin-left: 0;
  width: 390px;
}

.overlap-group4 {
  align-items: center;
  background-color: var(--yellow-orange);
  box-shadow: 0px 4px 4px 
#00000040;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 4.6px 17px;
  position: relative;
}

.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 93px;
  width: 237px;
}

.fooditem-n_1 {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 29px;
  opacity: 0.87;
  white-space: nowrap;
}

.fooditem-container {
  height: 58px;
  margin-top: 6px;
  position: relative;
  width: 237px;
}

.fooditem-k {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 29px;
  white-space: nowrap;
  width: 237px;
}

.fooditem-h {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 237px;
}

.item-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 322px;
  width: 396px;
}

.fooditem-g_2 {
  height: 210px;
  width: 390px;
}

.overlap-group3 {
  align-items: center;
  background-color: var(--yellow-orange);
  box-shadow: 0px 4px 4px 
#00000040;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  margin-left: 0.13px;
  min-width: 390px;
  padding: 4.6px 26px;
  position: relative;
}

.flex-col-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 89px;
  width: 243px;
}

.fooditem-n_2 {
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 6.67px;
  min-height: 29px;
  opacity: 0.87;
  white-space: nowrap;
  width: 237px;
}

.fooditem-container-1 {
  height: 58px;
  margin-left: 6.67px;
  margin-top: 1px;
  position: relative;
  width: 237px;
}

.item-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 37px;
  min-height: 322px;
  width: 396px;
}

.fooditem-g_3 {
  height: 210px;
  margin-left: 0.03px;
  width: 390px;
}

.overlap-group2 {
  align-items: center;
  background-color: var(--yellow-orange);
  display: flex;
  height: 112px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 4.6px 26px;
}

.flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 89px;
  width: 237px;
}

.fooditem-n_3 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 0.12px;
  min-height: 29px;
  opacity: 0.87;
  white-space: nowrap;
}

.fooditem-container-2 {
  height: 58px;
  margin-top: 1px;
  position: relative;
  width: 237px;
}

.food-add3 {
  align-items: flex-start;
  background-image: url(rectangle-1.png);
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  margin-bottom: 24px;
  margin-left: 26px;
  padding: 11px 26px;
  width: 70px;
}

.union-1 {
  height: 13px;
  margin-left: 5px;
  width: 13px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 17.13px;
  margin-top: 49px;
  min-width: 822px;
}

.overlap-group1 {
  height: 323px;
  position: relative;
  width: 390px;
}

.bg {
  background-color: var(--yellow-orange);
  height: 113px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 390px;
}

.fooditem-k_4 {
  left: 31px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 287px;
  white-space: nowrap;
  width: 237px;
}

.fooditem-n_4 {
  left: 31px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 228px;
  white-space: nowrap;
  width: 237px;
}

.fooditem-g {
  height: 210px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.fooditem-h_4 {
  left: 31px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 261px;
  white-space: nowrap;
  width: 237px;
}

.overlap-group-1 {
  height: 323px;
  margin-left: 42px;
  position: relative;
  width: 390px;
}

.bg-1 {
  height: 113px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 390px;
}

.fooditem-k_5 {
  left: 30px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 287px;
  white-space: nowrap;
  width: 237px;
}

.fooditem-n_5 {
  left: 30px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 228px;
  white-space: nowrap;
  width: 237px;
}

.fooditem-h_5 {
  left: 29px;
  letter-spacing: 0;
  line-height: 28px;
  opacity: 0.87;
  position: absolute;
  top: 261px;
  white-space: nowrap;
  width: 237px;
}

.keranjang {
  height: 110px;
  left: 1355px;
  position: fixed;
  top: 1298px;
  width: 145px;
  z-index: 5;
}

:root {
  --black: 
rgba(0, 0, 0, 1);
  --cloud-burst: 
rgba(36, 48, 84, 1);
  --yellow-orange: 
rgba(254, 186, 64, 0.659);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-m: 21px;
  --font-size-l: 27px;
  --font-size-l2: 32px;
  --font-size-xl2: 40px;

  --font-family-inter: "Inter";
}



.inter-bold-cloud-burst-21px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.inter-normal-cloud-burst-32px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-cloud-burst-27px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-cloud-burst-40px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-cloud-burst-32px {
  color: var(--cloud-burst);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 700;
  font-style: normal;
}
